<form method="POST" action="/companies/docreate">
  <div class="form-group">
    <label for="exampleInputEmail1">Company name</label>
    <input type="text" class="form-control" id="companyName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="companyCode">Code</label>
    <input type="text" class="form-control" id="companyCode" placeholder="Code">
  </div>
  <div class="form-group">
    <label for="companyCode">Image URL</label>
    <input type="text" class="form-control" id="companyImage" placeholder="Image Url">
  </div>
  <div class="form-group">
    <label for="companyCode">Money</label>
    <input type="text" class="form-control" id="companyMoney" placeholder="Company code">
  </div>
  <div class="form-group">
    <label for="companyCode">Description</label>
    <input type="text" class="form-control" id="companyDescription" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-primary">Create!</button>
</form>